<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>程序猿学习-胡辉煜</title>
  <meta name="author" content="胡辉煜">
  <meta name="keywords" content="胡辉煜">
  <meta name="description" content="胡辉煜-程序猿学习">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
  <link rel="shortcut icon" href="https://media.huhuiyu.top/huhuiyu.top/hu-logo.jpg" type="image/jpeg">

</head>

<body>
  <div id="app">
    {{viewdata.title}}
    <hr>
    <input type="text" v-model="viewdata.user.username">
    <input type="password" v-model="viewdata.user.password">
    {{viewdata.user}}
  </div>

  <script src="js/h02.js" type="module"></script>
</body>

</html>