@font-face {
  font-family: "iconfont"; /* Project id 3196212 */
  src: url('iconfont.woff2?t=1676979033361') format('woff2'),
       url('iconfont.woff?t=1676979033361') format('woff'),
       url('iconfont.ttf?t=1676979033361') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jubao:before {
  content: "\e89d";
}

.icon-meiyoupinglun:before {
  content: "\e61f";
}

.icon-meiyoushuju:before {
  content: "\e624";
}

.icon-shanchu3:before {
  content: "\e68e";
}

.icon-dianzan:before {
  content: "\ec7f";
}

.icon-xiangji:before {
  content: "\e8bc";
}

.icon-querenhetongquerenhetongqueding:before {
  content: "\e690";
}

.icon-queding:before {
  content: "\e66f";
}

.icon-queding1:before {
  content: "\e627";
}

.icon-queding2:before {
  content: "\e714";
}

.icon-queding3:before {
  content: "\e68d";
}

.icon-map:before {
  content: "\e6a2";
}

.icon-map1:before {
  content: "\e649";
}

.icon-map2:before {
  content: "\e763";
}

.icon-Map:before {
  content: "\e643";
}

.icon-jiufuqianbaoicon06:before {
  content: "\e693";
}

.icon-tianjia:before {
  content: "\e657";
}

.icon-tianjiadingdan1:before {
  content: "\e61d";
}

.icon-fuzhi:before {
  content: "\e656";
}

.icon-fuzhi1:before {
  content: "\e61a";
}

.icon-guanbi:before {
  content: "\e61b";
}

.icon-shanchu:before {
  content: "\e8b6";
}

.icon-chakan1:before {
  content: "\e63f";
}

.icon-shanchu1:before {
  content: "\e61c";
}

.icon-xiugai:before {
  content: "\e66e";
}

.icon-chakan2:before {
  content: "\e619";
}

.icon-round_delete:before {
  content: "\e638";
}

.icon-shanchu2:before {
  content: "\e610";
}

.icon-xiugaioryijian:before {
  content: "\e609";
}

.icon-chakan:before {
  content: "\e60f";
}

.icon-youxiang:before {
  content: "\e63e";
}

.icon-youxiang1:before {
  content: "\e611";
}

.icon-xiazaidaoru:before {
  content: "\e8c7";
}

.icon-print:before {
  content: "\e641";
}

.icon-jurassic_export-form:before {
  content: "\e6c9";
}

.icon-jurassic_import-form:before {
  content: "\e6ca";
}

.icon-daochu:before {
  content: "\e637";
}

.icon-keyboardlight:before {
  content: "\e7a3";
}

.icon-key:before {
  content: "\e7e1";
}

.icon-fenzu:before {
  content: "\e613";
}

.icon-zonghemenhu-xinxitongji:before {
  content: "\e699";
}

.icon-a-xinxiyuyinxinxitishixinxi-04:before {
  content: "\e914";
}

.icon-yanzhengma:before {
  content: "\e68a";
}

.icon-tupianyanzhengma:before {
  content: "\e7d8";
}

.icon-yanzhengma1:before {
  content: "\e63d";
}

.icon-tupianyanzhengma1:before {
  content: "\e655";
}

.icon--xiayibu:before {
  content: "\e60e";
}

.icon-shangyibu:before {
  content: "\e615";
}

.icon-shangyibu1:before {
  content: "\ebef";
}

.icon-xiayibu:before {
  content: "\e7f4";
}

.icon-xiayibu1:before {
  content: "\e648";
}

.icon-shangyibu2:before {
  content: "\e80f";
}

.icon-email:before {
  content: "\e60c";
}

.icon-email1:before {
  content: "\e64f";
}

.icon-shouji:before {
  content: "\e8c6";
}

.icon-shouji1:before {
  content: "\e608";
}

.icon-zhaohuimima:before {
  content: "\e899";
}

.icon-zhaohuimima1:before {
  content: "\e606";
}

.icon-zhaohuimima2:before {
  content: "\e618";
}

.icon-zhaohuimima3:before {
  content: "\e631";
}

.icon-zhaohuimima4:before {
  content: "\e607";
}

.icon-sousuo:before {
  content: "\e605";
}

.icon-sousuo1:before {
  content: "\e62f";
}

.icon-sousuo2:before {
  content: "\e622";
}

.icon-gongnengjianyi:before {
  content: "\e602";
}

.icon-wenjianshangchuan:before {
  content: "\e614";
}

.icon-wenjianshangchuan1:before {
  content: "\e616";
}

.icon-gongnengliebiao:before {
  content: "\e629";
}

.icon-wenjianjia:before {
  content: "\ec17";
}

.icon-wenjian:before {
  content: "\e625";
}

.icon-gongneng:before {
  content: "\e617";
}

.icon-gongnengdingyi:before {
  content: "\e603";
}

.icon-gongnengcaidan:before {
  content: "\e667";
}

.icon-xingmingyonghumingnicheng:before {
  content: "\e623";
}

.icon-yonghuzhuce:before {
  content: "\e696";
}

.icon-zhuce:before {
  content: "\e6d6";
}

.icon-zhuce1:before {
  content: "\e71c";
}

.icon-nicheng:before {
  content: "\e6da";
}

.icon-zhuce2:before {
  content: "\e6b5";
}

.icon-nicheng1:before {
  content: "\e61e";
}

.icon-liaotian:before {
  content: "\e630";
}

.icon-fasong:before {
  content: "\e6cc";
}

.icon-fasong1:before {
  content: "\e636";
}

.icon-fasong2:before {
  content: "\e60d";
}

.icon-liaotian1:before {
  content: "\e89c";
}

.icon-liaotianshi:before {
  content: "\e6ee";
}

.icon-liaotianshi1:before {
  content: "\e67f";
}

.icon-liaotianshi2:before {
  content: "\e711";
}

.icon-tubiaozhizuomoban-:before {
  content: "\e60b";
}

.icon-denglu-box-xian:before {
  content: "\e89f";
}

.icon-yonghuming1:before {
  content: "\e64a";
}

.icon-logindenglu:before {
  content: "\e6dd";
}

.icon-mima:before {
  content: "\e620";
}

.icon-zhongtian:before {
  content: "\e621";
}

.icon-dengchu:before {
  content: "\e612";
}

.icon-cuowuguanbiquxiao-xianxingyuankuang:before {
  content: "\e8e7";
}

.icon-quxiaodingdanxiao:before {
  content: "\e933";
}

.icon-mima1:before {
  content: "\e601";
}

.icon-dengchu1:before {
  content: "\e79c";
}

.icon-zhongtian1:before {
  content: "\e645";
}

.icon-mima2:before {
  content: "\e8b2";
}

.icon-yonghuming:before {
  content: "\e60a";
}

.icon-teach:before {
  content: "\e73d";
}

.icon-wd-applet-teaching:before {
  content: "\e600";
}

.icon-teach1:before {
  content: "\e604";
}

