.iconfont {
  font-family: 'iconfont' !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: 'iconfont'; /* Project id 3196212 */
  src: url('//at.alicdn.com/t/c/font_3196212_zlw4dp05hua.woff2?t=1673183313791') format('woff2'), url('//at.alicdn.com/t/c/font_3196212_zlw4dp05hua.woff?t=1673183313791') format('woff'), url('//at.alicdn.com/t/c/font_3196212_zlw4dp05hua.ttf?t=1673183313791') format('truetype');
}
